<link href="../assets/css/home.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Upload</title>
</head>
<body>
    <h1>Hello welcome  to CSV Upload</h1>

    <div id="input-form">
     <form class="input-form" action="/" enctype="multipart/form-data" method="post">
        <div>
         <input class="input-element" type="file" name="file" placeholder="upload file">
        </div>
        <div> 
         <input class="input-element" type="submit" value="submit">
        </div> 
     </form>
      <%=message%>
    </div> 
</body>
</html>